
body {
    margin-top: 20px;
    font-family: "Cairo", sans-serif;
}
  
footer {
    margin-top: 1em;
    background-color: #e7e7e7;
}

.gridcontainer {
    display: grid;
    grid-gap: 10px;
    background-color: darkgrey;
    padding: 10px;
}

.textbox1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: lightgrey;
    border-radius: 10px;
}

.textbox2 {
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 75%;
    background-color: darkgrey;
    color: white;
    border-radius: 10px;
}

.title {
    text-align: center;
    padding: 20px;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: xx-large;
    text-decoration: underline;
    font-weight: bold;
}

.title2 {
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    width: 60%;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
}

.imagebox1 {
    padding: 15px;
    display: block;
    margin: auto;
    background-color: lightgrey;
    border-radius: 10px;
}