{% extends "layout.html" %}
{% set active_page = "data" %}
{% block content %}
<!-- CODE -->
<div class="title">
    Titanic Dataset and Features
</div>

<div class="textbox2" style="margin-top: 15px;">
    Our team accessed this dataset through <i>OpenML.com</i>. <br>
    It includes all the retrieved data from the Titanic, most importantly, who survived.
</div>

<div class="imagebox1" style="margin: auto; grid-row: 1/3; grid-column: 1/6;">
    <img src="{{ url_for('static', filename='images/starting_data.png') }}" alt="starting_data"
        style="max-width: 95%; margin: auto; padding-left: 5%;">
</div>

<div class="textbox1" style="grid-row: 3/6; grid-column: 1/6;">
    <p><b>The dataset features are explained below:</b></p>
    <div class="textbox2" style="max-width:75%">
        <table class="dark" style="margin:auto; font-size: 20px;">
            <tr><th>pclass</th><td>Ticket Class (i.e. 1st class, 2nd class, 3rd class)</td></tr>
            <tr><th>survived</th><td>Survived or not</td></tr>
            <tr><th>name</th><td>Name of passenger</td></tr>
            <tr><th>sex</th><td>Male or female</td></tr>
            <tr><th>age</th><td>Age of passenger</td></tr>
            <tr><th>sibsp</th><td># of siblings of passenger</td></tr>
            <tr><th>parch</th><td># of parents/children on board</td></tr>
            <tr><th>ticket</th><td>Ticket Number</td></tr>
            <tr><th>fare</th><td>Cost of ticket</td></tr>
            <tr><th>cabin</th><td>Cabin number</td></tr>
            <tr><th>embarked</th><td>Location boarded from (C = Cherbourg, Q = Queenstown, S = Southampton)</td></tr>
            <tr><th>boat</th><td>Which boat the survivors made it out on</td></tr>
            <tr><th>body</th><td>Weight of passenger</td></tr>
            <tr><th>home.dest</th><td>Destination</td></tr>
        </table>
    </div>  
</div>

<div class="textbox1">
    <h4>In total, the dataset has <span style="color: darkgreen;">1309 people</span> and <span style="color: darkgreen;">14 features</span> collected for each.</h4>
</div>
<!-- CODE END -->
{% endblock %}