{% extends "layout.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="title">
    Would You Survive?
  </div>
<div class="container" style="text-align: center;">
    <div class="gridcontainer" style="background-color: rgb(240,240,240);">
        <div class="imagebox1" style="width: auto; grid-column: 1/2; grid-row: 1/3; margin-right: 30px;">
            <img src="{{ url_for('static', filename='images/titanic_sinking.gif') }}" alt="Titanic Sinking">
        </div>
        <div class="dark" style="grid-column: 3/6; grid-row: 1/3;">
            {% from "_formhelpers.html" import render_field %}
            <form method=post action="/survived">
                <table class="app">
                    <tr>
                        <th colspan="2" style= "font-size: 24px;">Please input the following!</th>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>
                            <dl>{{ render_field(form.name) }}</dl>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>Sex</td>  <!--****Drop downs, bigger text(EVERYWHERE), explain input options -->
                        <td>
                            <select name="sex" method="GET" action="/survived">
                                <option value=1 selected>Male</option>
                                <option value=0>Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td>
                            <dl>{{ render_field(form.age) }}</dl>
                        </td>
                    </tr>
                    <tr>
                        <td>Ticket Number</td>
                        <td>
                            <dl>{{ render_field(form.ticket) }}</dl>
                        </td>
                    </tr>
                    <tr>
                        <td>Ticket Price</td>
                        <td>
                            <dl>{{ render_field(form.fare) }}</dl>
                        </td>
                    </tr>
                    <tr>
                        <td>Class</td>
                        <td>
                            <select name="clas" method="GET" action="/survived">
                                <option value=1 selected>First Class</option>
                                <option value=2>Second Class</option>
                                <option value=3>Third Class</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Family Aboard</td>
                        <td>
                            <select name="children" method="GET" action="/survived">
                                <option value=0 selected> 0 </option>
                                <option value=1> 1 </option>
                                <option value=2> 2 </option>
                                <option value=3> 3 </option>
                                <option value=4> 4 </option>
                                <option value=5> 5 </option>
                                <option value=6> 6 </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Departed from</td>
                        <td>
                            <select name="port" method="GET" action="/survived">
                                <option value=2 selected>Southampton</option>
                                <option value=0>Cherbourg</option>
                                <option value=1>Queenstown</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <p></p>
                <input type=submit value='Submit' name='submit_btn' style="font-size: 20px;">
            </form>
        </div>
    </div>
</div>
{% endblock %}