{% extends "layout.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="title">
  Would You Survive?
</div>
<div class="container" style="text-align: center;">
  <div class="textbox1" style="grid-row: 3; grid-column: 1/2; font-size: 24px; font-weight: bold;">
    {% if sur == "Eliminated" %}
    There is a <span style="color: orangered;">{{ pro }}</span> chance that {{ name }} was <span style="color: orangered;">{{ sur.lower() }}</span>!
    <img class="d-block w-100" src="{{ url_for('static', filename='images/titanic_sink.jpeg') }}" alt="First slide" style="margin-top: 10px;">
    {% else %}
    There is a <span style="color: darkgreen;">{{ pro }}</span> chance that {{ name }} <span style="color: darkgreen;">{{ sur.lower() }}</span>!
    <img class="d-block w-100" src="{{ url_for('static', filename='images/Titanic.jpeg') }}" alt="First slide" style="margin-top: 10px;">
    {% endif %}
  </div>
</div>
{% endblock %}