{% extends "layout.html" %}
{% set active_page = "validation" %}
{% block content %}
<!--CODE-->
<div class="title">
    Feature Validation
</div>
<div class="gridcontainer" style="background-color: rgb(240,240,240);">
    <div class="textbox1" style="grid-column: 1 / span 2; grid-row: 2;">
        <b style="font-size: large;">Heat Map:</b> <br> <br>
        Shows the correlation between two features being tied to the survivabilty of that passenger
    </div>

    <div class="imagebox1" style="width: auto; grid-column: 3; grid-row: 1 / span 3; margin-right: 30px;">
        <img src="{{ url_for('static', filename='images/heatMap.png') }}" alt="heatmap">
    </div>
</div>

<div class="gridcontainer" style="background-color: rgb(48,48,48);">
    <div class="imagebox1" style="width: auto; grid-column: 1/2; grid-row: 1/2">
        <img src="{{ url_for('static', filename='images/chi_image.png') }}" alt="chi_squared">
    </div>
    <div class="textbox1" style="grid-row: 1/2; grid-column: 2/3;">
        <b style="font-size: large;">Chi-Squared</b> <br> <br>
        We use the chi-squared test to validate features. It uses categorical data to measure if a
        statistical difference between the the features. <br> <br>

        <div class="textbox2">
            A chi-square p value of <b style="color: darkred;">0.5 or higher</b>
            shows a <b style="color: darkred;">lack of significance</b> in the dataset.
        </div>
    </div>

    <div class="imagebox1" style="width: auto; grid-column: 1/2; grid-row: 3/4">
        <img src="{{ url_for('static', filename='images/pearson.png') }}" alt="pearson_correlation">
    </div>
    <div class="textbox1" style="grid-row: 3/4; grid-column: 2/3;">
        <b style="font-size: large;">Pearson Correlation Coefficiant (PCC)</b> <br> <br>
        We also use the PCC test to validate features. This test measures the relationship between
        a variable and target. <br> <br> Since we are looking for any correlation, we turned all values
        positive for comparisons sake. <br> <br>

        <div class="textbox2">
            A PCC r value of <b style="color: darkgreen;">0.5 or lower</b>
            shows a <b style="color: darkgreen;">lack of significance</b> in the dataset.
        </div>
    </div>
</div>

<div class="griadcontainer">
    <div class="textbox1">
        <h3><u>Discussion on Feature Validation</u></h3>
        Both our Chi-Squared and Pearson Correlation tests show that <span style="color: darkred;">'age', 'ticket',
            and
            'sibsp'</span>
        are less significant values. <br> <br>
        Although <span style="color: darkred;">'sibsp' and 'age'</span> proved to be insignficant
        based off both tests, we decided to only remove <span style="color: darkred;">'sibsp'</span>
        since its removal created a slight <span style="color: darkgreen;">increase in accuracy</span>. <br> <br>
        <div class="textbox2" style="margin-top: 0px;">
            This left us with <b><span style="color: darkgreen;">8 features</span></b>.
        </div>
        All remaining features increase accuracy, even if only slightly.
        Since <u>accuracy is our primary target</u> for this experiment (and not speed), we keep these features.
    </div>
</div>

<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Titanic Project
        <br>
        Made by Karson Fye, Jackson Warren, and Katelynn Schwerdtfeger
    </div>
</footer>
<!--CODE-->
{% endblock %}